@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #06122b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 38px;
  display: flex;
  align-items: center;
}

.ticker-track {
  display: flex;
  gap: 60px;
  width: max-content;
  animation: tickerMove 30s linear infinite;
}

@keyframes tickerMove {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}
.ticker-wrapper {
  width: 100%;
  overflow: hidden;
}

.ticker-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scrollLeft 30s linear infinite;
}

.ticker-track.reverse {
  animation: scrollRight 30s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
